{
  "presets": ["@babel/preset-react"],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "@babel/plugin-transform-react-inline-elements"]
    }
  }
}
